<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ContentBlocker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NoMoHuffPo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SafariDesktopBlocker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21C8FD501E64910400BB65FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21C8FD641E64910400BB65FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21C8FD6F1E64910400BB65FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21C8FD851E64913A00BB65FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21C8FD971E64C0DA00BB65FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
